@media (min-width: 2560px) and (min-height: 1300px) {
    body {
        width: 100%;
        height: 100%;
        font-size: 40px;
        padding: 0;
    }
    .header {
        width: 100%;
        height: 25%;
        padding: 10px 5%;
    }

    .logo-imageContainer {
        margin: 0;
    }

    .menu-Bar {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    .menu-item a {
        font-size: 120%;
    }

    .hero-titleContainer {
        height: auto;
    }

    .hero-Title {
        /* font-size: 400%; */
        margin: 0 auto 20px;
    }

    /* font-size: 300%; 
    .product-offerName {
    }
    */

    .product-offerDescription {
        margin-bottom: 0;
        /* font-size: 250%; */
    }

    .product-purchaseButton button {
        margin-top: 5%;
        /* font-size: 300%; */
    }

    .reviews {
        background-position: -400px 200px;
    }

    .review-personTwitter {
        /* font-size: 250%; */
        width: 100%;
        margin: 0;
    }
    
    .review-twitterId {
        text-align: center;

    }

    /*
    .review-description {
    }*/

    .social-link a img{
        width: 200px;
        height: 200px;
    }

    .footer {
        width: 100%;
        height: 100px;
    }

/*     .terms-condition {
        /* font-size: 40px; 
    }

    .purchase-form {
    } */

    .purchase-form .final-purchase {
        width: 80%;
        margin: auto 15%;
    }

    .input-normal {
        width: 88%;
    }

    .input-age {
        margin-right: 0px;
    }

    .input-normal, .input-age {
        border: 5px solid var(--black-Color);
    }

}