@media(max-width: 500px) {
    body {
        width: 100%;
        height: 100%;
        min-height: 100%;
        font-size: 10px;
        box-sizing: border-box;
    }

    .header {
        width: 100%;
        height: 100px;
        display: block;
        padding: 0;
        box-sizing: border-box;
    }

    .logo-imageContainer {
        width: 60%;
        height: 50%;
        display: block;
        margin: 0 auto;
    }

    .logo-imageContainer .logo-title {
        width: 100%;
        height: 100%;
        padding: 5px;
    }

    .menu-Bar {
        display: block;
        margin: 10px auto 0;
        width: 70%;
        height: 40%;
        padding: 0;
        box-sizing: border-box;
    }

    .menu-bar .menu-itemContainer {
        display: block;
        width: 100%;
        height: 100%;
    }

    .menu-item {
        display: inline-block;
    }

    .menu-item a {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    /* --------------------HERO...................... */
    .hero {
        width: 100%;
        height: 400px;
        box-sizing: border-box;
        padding: 15px 0;
        
    }

    .hero .product-offerContainer {
        display: none;
    }

    .hero-titleContainer {
        width: 90%;
        margin: 20px auto 30px;
    }

    .text-forMobile {
        display: block;
        width: 50%;
        height: 50%;
        margin: 10px 30px 0;
        font-size: 200%;
    }
    /* ---------------REVIEWS--------------------- */
    .reviews {
        width: 100%;
        margin: 10px 0 0;
        padding: 30px 0;
        background-image: url('../imagen/reviews-mobileBackground.png');
        background-size: 20% 20%;
        background-position: 0 100%;
    }

    .reviews-Container {
        margin: 0 auto;
    }

    .review-box {
        width: 150px;
        height: 210px;
        padding: 0;
        font-size: 11px;
        box-sizing: border-box;
    }

    .review-description {

        margin-top: 0;
    }
    /* ------------------REDES SOCIALES------------ */
    .social-network {
        width: 100%;
    }

    .social-link a img {
        width: 50px;
        height: 50px;
    }
    /* ---------------------FOOTER---------------- */
    .footer-termContainer, .footer-purchase, .footer-container {
        display: none;
    }

    .footer {
        width: 100%;
        padding: 10px 5px;
    }

    .terms-conditions {
        height: 200px;
        overflow: scroll;
    }


}

@media (max-width: 823px) and (max-height: 414px) {
    .hero .product-offerContainer {
        display: none;
    }

    .text-forMobile {
        display: block;
        width: 50%;
        font-size: 200%;

    }
    
    .terms-conditions {
        height: 200px;
        overflow: scroll;
    }
    
}