@media screen and (max-width: 1025px) {
    body {
        position: relative;
    }
    .header .logo-imageContainer {
        margin-left: 1em;
    }
    .menu-Bar {
        padding: 0;
    }
    .menu-item {
        display: flex;
    }
    .menu-item:nth-of-type(4) {
        margin-right: 0;
    }
    .menu-item a {
        padding: 2em 1.7em;
    }
    .question {
        padding: 1.2em 0.5em;
        cursor: pointer;
    }
    .hero {
        text-align: center;
    }
    .product-offerContainer {
        width: 20em;
    }
    .product-offerDescription {
        margin-bottom: 10px;
    }
    .product-purchaseButton button {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .product-purchaseButton button:active, .final-purchase:active {
        background-color: var(--red-darkColor);
        color: var(--white-lightColor);
        cursor: pointer;
    }
    .products-container {
        padding: 0;
        text-align: center;
    }
    .reviews-Container {
        display: block;
        width: 35%;
        height: 320px;
        margin: 5px auto;
        overflow: hidden scroll;
        padding: 10px 20px;
    }
    .review-box {
        width: 100%;
        margin-bottom: 10px;

    }
    .margin-product {
        margin: 0;
    }
    .social-networks {
        padding: 2em 0;
    }
    .shop {
        margin-top: 1em;
    }
    .footer {
        box-sizing: border-box;
        padding: 1em 10px;
    }

}

@media screen and (max-width: 415px) {
    .header {
        flex-direction: column;
    }
    .logo-imageContainer {
        width: auto;
        height: auto;
    }
    .logo-imageContainer img {
        width: 100%;
    }
    .hero {
        padding: 10px 0;
    }
    .hero-titleContainer {
        width: 300px;
        margin: 0 auto;
    }
    .hero-titleContainer .hero-Title {
        font-size: 21px;
    }
    .hero .product-offerContainer {
        margin: 5px auto;
    }
    .social-link a img {
        width: 60px;
        height: 60px;
    }
    .product-margin {
        margin: 1em auto;
    }
    .terms, .terms-conditionsContainer {
        height: auto;
    }
    .terms-conditions {
        height: 400px;
        overflow: scroll;
    }
    .faq-Container {
        width: 80%;
        height: 100%;
    }
    .questions-container {
        width: 100%;
        height: 100px;
        font-size: 1.3em;
    }
    .questions-container {
        margin-bottom: 4em;
    }
    .reviews-Container {
        display: block;
        width: 60%;
        min-width: 60%;
        height: 325px;
        padding: 5px 10px;
        overflow: scroll;
        /* overflow: hidden; */
    }
    .review-box {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }   
    .review-boxPicContainer {
        width: 100px;
        height: 100px;
        margin: 0 auto 10px;
        padding-top: 5px;
    }
    .purchase-infoContainer {
        width: 90%;
        height: auto;
        display: block;
    }
    .purchase-productImageContainer {
        width: 11em;
        height: 11em;
        margin: 0 auto 15px;
    }
    .purchase-form {
        width: 90%;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .input-normal {
        width: 200px;
        min-width: 150px;
        display: block;
        margin: 0 auto 10px;
    }
    .final-purchase {
        display: block;
        margin: 0 auto;
    }
    .terms-conditions {
        width: 85%;
    }
    .faq-Title {
        margin: 0;
        text-align: center;
    }
    .questions-container {
        width: 100%;
        height: 5em;
        margin-bottom: 3em;
    }
    .question-container {
        height: auto;
        margin-bottom: 0;
    }
    .question {
        /* width: 100%; */
        height: 50%;
        padding: 0;
    }
    .question h3 {
        font-size: 15px;
    }
    .question-answer {
        font-size: 13px;
    }
    .product-offerContainer {
        width: 100%;
    }
}